@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;900&display=swap');

* {
    margin: 0 !important;
    box-sizing: border-box !important;
}

html {
    font-family: 'Source Sans Pro', sans-serif;
}

main {
    background-color: #F5F7FB !important;
}

.texto-brand {
    font-weight: 630;
}
.texto-brand span{
    color: #4AA381;
}
#chart {
    height: 250px;
}